$primary-color: #c2c6c2;
$opposite-primary: #ffcd36;
$secondary-color: rgb(21, 196, 45);

$alt-color: #3c4b63;

$bluer: black;


$shadow: 1px 2px rgba(0, 0, 0, 0.2);

$button-font: 18px Raleway, sans-serif;